image: node:18

stages:
  - build
  - deploy

build-job:
  stage: build
  script:
    - npm install -g @angular/cli       # Install Angular CLI
    - npm install                        # Install project dependencies
    - ng build --configuration=production   # Build the Angular project with the production configuration

  artifacts:
    paths:
      - dist/
    expire_in: 1 hour

deploy-job:
  stage: deploy
  script:
    - apt-get update && apt-get install -y lftp   # Install lftp for FTP/SFTP
    - lftp -c "
        set ssl:verify-certificate no;
        open -u u409719797.crmtourbiz,2/Ie!!Gp[FsTzL3H ftp.tourbiz.shop;
        cd /home/u409719797/domains/tourbiz.shop/public_html/crm;
        mirror -R ./dist/my-app .;
        bye
      "
  only:
    - main    # Deploy only from the main branch
