<nav class="bg-white border-b border-gray-200 px-4 py-2.5 flex justify-between items-center">
    <div class="flex items-center">
      <button (click)="onToggleSidebar()" class="text-navy-blue hover:text-navy-blue-dark focus:outline-none">
        <i class="fas fa-bars"></i>
      </button>
      <div class="ml-4">
        <h2 class="text-lg font-medium text-gray-800">{{ pageTitle }}</h2>
      </div>
    </div>
    
    <div class="flex items-center space-x-4">
      <!-- Search Bar -->
      <!-- <div class="hidden md:flex relative">
        <input type="text" placeholder="Search..." 
               class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full pl-10 p-2">
        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
          <i class="fas fa-search text-gray-400"></i>
        </div>
      </div> -->
      
      <!-- Notifications -->
      <!-- <button class="relative p-1 text-gray-600 hover:bg-gray-100 rounded-full focus:outline-none">
        <i class="fas fa-bell"></i>
        <span class="absolute top-0 right-0 h-2 w-2 bg-orange-500 rounded-full"></span>
      </button> -->
      
      <!-- User Menu -->
      <div class="relative">
        <button (click)="toggleUserMenu()" class="flex items-center text-sm font-medium text-gray-700 focus:outline-none">
          <img class="h-8 w-8 rounded-full" src="https://branition.com/assets/img/users/logos/7234-0qmSFtR.webp" alt="User Profile">
          <span class="ml-2 hidden md:block">John Doe</span>
          <i class="fas fa-chevron-down ml-1"></i>
        </button>
        
        <!-- User Dropdown -->
        <div *ngIf="isUserMenuOpen" class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 z-10">
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Profile</a>
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Settings</a>
          <button (click)="onLogOut()" type="button" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
            Sign out
          </button>
        </div>
      </div>
    </div>
  </nav>