.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.sidebar:not(.sidebar-end)~* {
    --cui-sidebar-occupy-start: 18rem;
}
@media (min-width: 768px){

    .sidebar.hide.sidebar-end~* {
        --cui-sidebar-occupy-end: 0;
    }
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent body scroll */
  }
  
  .main-wrapper {
    height: 100vh;
    overflow-y: auto;
  }
  
  /* Hide scrollbar */
  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  